<div class="hs-cards">
<% @projects.each do |project| %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= project.image_url %>)">
    <%= project.title %>
    <%= project.description %>
  </div>
<% end %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('ARRANGER-Ashatones-Website-Thumbnail.png') %>)">
    Ashatones
  </div>

</div>
