<%# <h1 class="text-center p-3">Projects</h1> %>
<div class="cards-body">

  <!--CAROUSEL-->

  <div id="carouselHarry" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("banner.jpg", class: "carousel-img d-block w-100", alt: "First slide") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("harry_emily_music.jpg", class: "carousel-img d-block w-100", alt: "Second slide") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("ashatones_big_win.jpg", class: "carousel-img d-block w-100", alt: "Third slide") %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHarry" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHarry" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--COMPOSER-->
    <div class="typeof-title pb-1 mt-5">
      <h3>Composer</h3>
    </div>

  <div id="compositions">
    <div class="hs-cards-1">
      <% @projects.each do |project| %>
        <% if project.typeof == 'composition' %>
          <div class="hs-card-1" style="background-image: url(<%= image_url(project.image_path) %>)" data-toggle="collapse" data-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="project-info">
      <div class="container">
        <% @projects.each do |project| %>
          <% if project.typeof == 'composition' %>
            <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>" data-parent="#compositions">
            <h3><%= project.title %></h3>
              <div class="row">
                <div class="card-description col-md-4">
                  <p><%= project.description %></p>
                </div>
                <div class="card-content d-flex flex-wrap col-md-8">
                  <% if project.iframe_url != '' %>
                    <% if project.iframe1_url != '' %>
                      <% if project.iframe2_url != '' %>
                        <% if project.iframe3_url != '' %>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe3_url %>"></iframe>
                        <% else %>
                          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                        <% end %>
                      <% else %>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                      <% end %>
                    <% else %>
                      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!--ARRANGER-->

  <div class="typeof-title pb-1">
    <h3>Arranger</h3>
  </div>

  <div id="arrangments">
    <div class="hs-cards-2">
      <% @projects.each do |project| %>
        <% if project.typeof == 'arrangment' %>
          <div class="hs-card-1" style="background-image: url(<%= image_url(project.image_path) %>)" data-toggle="collapse" data-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="project-info">
      <div class="container">
        <% @projects.each do |project| %>
          <% if project.typeof == 'arrangment' %>
            <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>" data-parent="#arrangments">
            <h3><%= project.title %></h3>
              <div class="row">
                <div class="card-description col-md-4">
                  <p><%= project.description %></p>
                </div>
                <div class="card-content d-flex flex-wrap col-md-8">
                  <% if project.iframe_url != '' %>
                    <% if project.iframe1_url != '' %>
                      <% if project.iframe2_url != '' %>
                        <% if project.iframe3_url != '' %>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe3_url %>"></iframe>
                        <% else %>
                          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                        <% end %>
                      <% else %>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                      <% end %>
                    <% else %>
                      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!--MD-->

  <div class="typeof-title pb-1">
    <h3>Musical Director</h3>
  </div>
  <div id="musical_directions">
    <div class="hs-cards-2">
      <% @projects.each do |project| %>
        <% if project.typeof == 'md' %>
          <div class="hs-card-1" style="background-image: url(<%= image_url(project.image_path) %>)" data-toggle="collapse" data-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="project-info">
      <div class="container">
        <% @projects.each do |project| %>
          <% if project.typeof == 'md' %>
            <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>" data-parent="#musical_directions">
            <h3><%= project.title %></h3>
              <div class="row">
                <div class="card-description col-md-4">
                  <p><%= project.description %></p>
                </div>
                <div class="card-content d-flex flex-wrap col-md-8">
                  <% if project.iframe_url != '' %>
                    <% if project.iframe1_url != '' %>
                      <% if project.iframe2_url != '' %>
                        <% if project.iframe3_url != '' %>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe3_url %>"></iframe>
                        <% else %>
                          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                        <% end %>
                      <% else %>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                      <% end %>
                    <% else %>
                      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!--PERFORMER-->

  <div class="typeof-title pb-1">
    <h3>Performer</h3>
  </div>
  <div id="performances">
    <div class="hs-cards-2">
      <% @projects.each do |project| %>
        <% if project.typeof == 'performance' %>
          <div class="hs-card-1" style="background-image: url(<%= image_url(project.image_path) %>)" data-toggle="collapse" data-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="project-info">
      <div class="container">
        <% @projects.each do |project| %>
          <% if project.typeof == 'performance' %>
            <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>" data-parent="#performances">
            <h3><%= project.title %></h3>
              <div class="row">
                <div class="card-description col-md-4">
                  <p><%= project.description %></p>
                </div>
                <div class="card-content d-flex flex-wrap col-md-8">
                  <% if project.iframe_url != '' %>
                    <% if project.iframe1_url != '' %>
                      <% if project.iframe2_url != '' %>
                        <% if project.iframe3_url != '' %>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe3_url %>"></iframe>
                        <% else %>
                          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                          <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe2_url %>"></iframe>
                        <% end %>
                      <% else %>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                        <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe1_url %>"></iframe>
                      <% end %>
                    <% else %>
                      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--div class="hs-cards">
  <% @projects.each do |project| %>
    <% if project.typeof == 'composition' %>
      <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url(project.image_path) %>)" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
        <h5><%= project.title %></h5>
      </div>
      <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>">
        <div class="card-body">
          <p><%= project.description %></p>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="typeof-title">
  <h3>Arrangments</h3>
</div>
<div class="hs-cards">
<% @projects.each do |project| %>
  <% if project.typeof == 'arrangment' %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url(project.image_path) %>)" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
    <h5><%= project.title %></h5>
  </div>
  <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>">
    <div class="card-body">
      <p><%= project.description %></p>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
    </div>
  </div>
  <% end %>
<% end %>
</div>

<div class="typeof-title">
  <h3>Musical Director</h3>
</div>
<div class="hs-cards">
<% @projects.each do |project| %>
  <% if project.typeof == 'md' %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url(project.image_path) %>)" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
    <h5><%= project.title %></h5>
  </div>
  <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>">
    <div class="card-body">
      <p><%= project.description %></p>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
    </div>
  </div>
  <% end %>
<% end %>
</div>

<div class="typeof-title">
  <h3>Performer</h3>
</div>
<div class="hs-cards">
<% @projects.each do |project| %>
  <% if project.typeof == 'performance' %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url(project.image_path) %>)" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
    <h5><%= project.title %></h5>
  </div>
  <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>">
    <div class="card-body">
      <p><%= project.description %></p>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
    </div>
  </div>
  <% end %>
<% end %>
</div-->

<!--List of links:
'Forgive Us, Oh Father!'
'JFS' https://jfs.brent.sch.uk/
'The Ashatones' https://www.facebook.com/ashatones/
'Arnoud Breithbarth' http://arnoudb.com/
'Spacecity Ltd' https://www.spacecity.co.uk/
'Healthworker Talk' https://podcasts.apple.com/gb/podcast/healthworker-talk/id1553793036
'David Ian Neville' https://www.playwrightsstudio.co.uk/playwrights/david-ian-neville.aspx
'Lexi Clare' https://www.lexiclare.com/
'Above the Arts' https://artstheatrewestend.co.uk/
'Amy Le Rossignol' http://www.lerossignol.co.uk/
'Connor Gallagher' https://www.youtube.com/channel/UC5Ee99icen1hQjHdFW-o_Aw
'Tom Hutch' https://www.instagram.com/tlhutchmusic/
'Ashley Jacobs' https://twitter.com/ashjacobsMD
'Alex Weston' https://www.linkedin.com/in/alex-weston-60b6a0100/
'Sam McCagherty' https://www.spotlight.com/9415-3492-1937
'The Big Win Weekly Lottery'
'Emily McDouall' https://www.instagram.com/emilymcdouall/
'The Myra Hess' https://twitter.com/MyraTheSteinway
'Benjamin Crane' https://www.facebook.com/bencrane123
'Nick Anderson' https://www.instagram.com/nickandersondrums/
'Jack Childs' https://www.jackchildsaudio.com/
'Jonathan Morrell' https://www.instagram.com/morrell.photography/
'Shulem Lemmer' https://www.iamshulem.com/
'Avromi Freilich' https://hgss.org.uk/portfolio-item/chazan-avromi-freilich/
'Rinah Ensemble' http://www.chazaneliotalderman.co.uk/id10.html
'Miriam Kramer Ensemble' http://www.miriamkramer.com/
'Eliot Alderman' http://www.chazaneliotalderman.co.uk/
'Minim' http://www.facebook.com/minimsingers
'The Jewish People Arose' https://youtu.be/55oKCXxTqxU
'Imogen Halsey' https://imogenhalsey.com/
'Indigo Griffiths' https://twitter.com/IndigoGriffiths?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
'Gemma Aked-Priestley' https://www.gemmaaked-priestley.com/
'Passing' https://www.gemmaaked-priestley.com/passing/
'Izzy Jones' https://www.spotlight.com/6052-6756-3004?fbclid=IwAR2qBUtUrnpLudBkHNWpNJTI_oYehtKT9aFGWMcPU03bFTn92sWK0SxxKmc
'Artemis Reed' https://www.musicbyartemis.net/
'The People's Orchestra' https://thepeoplesorchestra.com/
-->
