<h1 class="text-center p-3">Projects</h1>
<div class="hs-cards">
<% @projects.each do |project| %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url(project.image_path) %>)" data-bs-toggle="collapse" data-bs-target="#collapseExample-<%= project.id %>" aria-expanded="false" aria-controls="collapseExample">
    <%= project.title %>
  </div>
  <div class="hs-card-info collapse" id="collapseExample-<%= project.id %>">
    <div class="card-body">
      <p><%= project.description %></p>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.iframe_url %>"></iframe>
    </div>
  </div>
<% end %>
</div>


<!--List of links:
'Forgive Us, Oh Father!'
'JFS' https://jfs.brent.sch.uk/
'The Ashatones' https://www.facebook.com/ashatones/
'Arnoud Breithbarth' http://arnoudb.com/
'Spacecity Ltd' https://www.spacecity.co.uk/
'Healthworker Talk' https://podcasts.apple.com/gb/podcast/healthworker-talk/id1553793036
'David Ian Neville' https://www.playwrightsstudio.co.uk/playwrights/david-ian-neville.aspx
'Lexi Clare' https://www.lexiclare.com/
'Above the Arts' https://artstheatrewestend.co.uk/
'Amy Le Rossignol' http://www.lerossignol.co.uk/
'Connor Gallagher' https://www.youtube.com/channel/UC5Ee99icen1hQjHdFW-o_Aw
'Tom Hutch' https://www.instagram.com/tlhutchmusic/
'Ashley Jacobs' https://twitter.com/ashjacobsMD
'Alex Weston' https://www.linkedin.com/in/alex-weston-60b6a0100/
'Sam McCagherty' https://www.spotlight.com/9415-3492-1937
'The Big Win Weekly Lottery'
'Emily McDouall' https://www.instagram.com/emilymcdouall/
'The Myra Hess' https://twitter.com/MyraTheSteinway
'Benjamin Crane' https://www.facebook.com/bencrane123
'Nick Anderson' https://www.instagram.com/nickandersondrums/
'Jack Childs' https://www.jackchildsaudio.com/
'Jonathan Morrell' https://www.instagram.com/morrell.photography/
'Shulem Lemmer' https://www.iamshulem.com/
'Avromi Freilich' https://hgss.org.uk/portfolio-item/chazan-avromi-freilich/
'Rinah Ensemble' http://www.chazaneliotalderman.co.uk/id10.html
'Miriam Kramer Ensemble' http://www.miriamkramer.com/
'Eliot Alderman' http://www.chazaneliotalderman.co.uk/
'Minim' http://www.facebook.com/minimsingers
'The Jewish People Arose' https://youtu.be/55oKCXxTqxU
'Imogen Halsey' https://imogenhalsey.com/
'Indigo Griffiths' https://twitter.com/IndigoGriffiths?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
'Gemma Aked-Priestley' https://www.gemmaaked-priestley.com/
'Passing' https://www.gemmaaked-priestley.com/passing/
'Izzy Jones' https://www.spotlight.com/6052-6756-3004?fbclid=IwAR2qBUtUrnpLudBkHNWpNJTI_oYehtKT9aFGWMcPU03bFTn92sWK0SxxKmc
'Artemis Reed' https://www.musicbyartemis.net/
'The People's Orchestra' https://thepeoplesorchestra.com/
-->
